.developer-window
	position: fixed
	bottom: 120px
	left: 24px
	z-index: 1
	padding: 16px
	max-width: 500px
	border-radius: 8px
	background-color: #fc0

.developer-window__title
	color: #000
	font-weight: 700
	font-size: 18px
	line-height: 22px

.developer-window__wrapper
	display: flex
	flex-direction: row
	flex-wrap: wrap

	gap: 8px
	a
		padding: 4px
		width: 100%
		border-radius: 2px
		background-color: #0f68ff
		color: var(--white)
		text-decoration: none
		font-weight: 500
		font-size: 14px
		line-height: 16px

.developer-window__row
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 16px

	gap: 8px

.developer-window__close
	display: flex
	align-items: center
	justify-content: center
	width: 24px
	height: 24px
	font-size: 24px
