extends ../../layouts/main.pug

block variables
	- const title = "Особистий кабінет";

block css
	link(rel="stylesheet" href="css/all-pages.css" + version)
	link(rel="stylesheet" href="css/account.css" + version)

block js
	script(src="js/account.js")

block content
	.account-promo
		.container
			.account-promo__wrapper
				h1
					| Сторінка - #{ title }

block modals
	.developer-window
		.developer-window__row
			.developer-window__title
				| Модальні вікна
			button(type="button").developer-window__close
				| X
		.developer-window__wrapper
			a(href="#modal-global" rel="modal:open")
				| Модальне вікно - глобальне
		script.
			document.addEventListener("DOMContentLoaded", () => {
				$(".developer-window__close").click(function () {
					$(this).parents(".developer-window").remove();
				});
			});
