#modal-global.modal.modal--example
	.modal__wrapper
		.modal__head.mb-2
			| Модальне вікно - глобальне

		.modal__content
			| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque porro dolorum ducimus laborum sequi, vero odio velit earum. Ipsum consequatur molestiae dicta praesentium porro quo enim architecto, in omnis error?
