#modal-home.modal.modal--example
	.modal__wrapper
		.modal__head.mb-2
			| Модальне вікно - головна

		.modal__content
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nemo esse reiciendis unde molestias, vitae explicabo delectus laborum corrupti sit beatae praesentium libero doloremque. Pariatur aut, quo nulla, soluta quos odio id voluptatum, quis rem facilis reprehenderit error fugiat nisi.
