extends ../../layouts/main.pug

block variables
	- const title = "Головна";

block css
	link(rel="stylesheet" href="css/all-pages.css" + version)
	link(rel="stylesheet" href="css/home.css" + version)

block js
	script(src="js/home.js")

block content
	include _promo.pug

block modals
