extends ../../layouts/main.pug

block variables
	- const title = "Головна";

block css
	//- link(rel="stylesheet" href="libs/owl-carousel/assets/owl.carousel.min.css")
	//- link(rel="stylesheet" href="libs/owl-carousel/assets/owl.theme.default.min.css")
	link(rel="stylesheet" href="css/all-pages.css" + version)
	link(rel="stylesheet" href="css/home.css" + version)

block js
	//- script(src="libs/owl-carousel/owl.carousel.min.js")
	script(src="js/home.js")

block content

	.container
		h1
			| Сторінка - головна

		include _promo.pug


block modals
	.developer-window
		.developer-window__row
			.developer-window__title
				| Модальні вікна
			button(type="button").developer-window__close
				| X
		.developer-window__wrapper
			a(href="#modal-example" rel="modal:open")
				| Приклад
		script.
			document.addEventListener("DOMContentLoaded", () => {
				$(".developer-window__close").click(function() {
					$(this).parents(".developer-window").remove()
				})
			})