extends ./../layouts/main.pug

block variables
	- const title = "Список шаблонів";

block css
	link(rel="stylesheet" href="css/all-pages.css")

block content
	style.
		.header,
		.footer {
			display: none;
		}

	mixin code(text)
		span(class="mx-1 h-auto rounded-sm bg-gray-100 px-1.5 py-1 text-base font-normal")
			| #{ text }

	mixin link(link, text)
		a(href=link class="text-blue-400 hover:underline" target="_blank")
			| #{ text }

	mixin inner-title(text)
		h2(class="flex items-center gap-2 border-b border-gray-300 pb-2 text-2xl font-bold lg:pb-4 lg:text-3xl")
			| #{ text }

	section(class="flex h-full items-center justify-center py-6")
		.container
			div(class="flex flex-col rounded-md bg-white p-4 shadow-md lg:rounded-3xl lg:p-10")
				div(class="flex items-center justify-center gap-2 border-b border-gray-300 pb-4 lg:items-start")
					img(src="./img/icons-content/gulp-logo.svg" class="lg:mt-1" alt="" width="16" height="16" loading="lazy" aria-hidden="true")
					h1(class="text-center text-3xl font-bold lg:text-5xl")
						| Gulp-збірка для верстки

				div(class="mt-4 text-base text-black")
					p
						| Gulp-збірка для верстки з використанням шаблонізатора PUG, CSS фреймворку Tailwind CSS та препроцесора SASS для середніх за розміром проєктів (інтернет-магазин, корпоративний сайт, сервіс).

				div(class="mt-5 flex flex-col items-center justify-between gap-1 lg:flex-row lg:gap-5")
					+icon-pug("pug-logo.svg", "200", "100")
					include ../templates/_icon-tailwind.pug
					img(src="./img/icons-content/sass-logo.svg" alt="" width="200" height="" loading="lazy" aria-hidden="true")

				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Перелік сторінок")
					ul(class="mt-2 flex list-disc flex-col gap-2 pl-6")
						li
							+link("home.html", "Головна")
						li
							+link("account.html", "Особистий кабінет")

				//- INFO
				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Загальна інформація")
					ul(class="mt-2 flex list-disc flex-col gap-2 pl-6")
						li
							+code("+input.pug")
							| ,
							+code("+input.sass")
							| -
							|
							+link("https://pugjs.org/language/mixins.html", "міксин")
							| , назва файлу завжди починається з +.
						li
							+code("_section.pug")
							| ,
							+code("_section.sass")
							| - шаблон, назва файлу завжди починається з _.
						li
							+code("include _section.pug")
							| - підключити pug-файл. Шлях відносно поточного файлу.
						li
							+code("@import _section.sass")
							| - підключити sass-файл. Шлях відносно поточного файлу.
						li
							+code("src/pug/layouts/main.pug")
							| =>
							+code("block css")
							| ,
							+code("block js")
							| ,
							+code("block content")
							| ,
							+code("block modal")
							| - місця, в яких буде знаходитись код з дочірних сторінок, що наслідують цей шаблон.

				//- PUG
				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Структура - PUG")
					ul(class="mt-2 flex list-disc flex-col gap-2 pl-6")
						li
							+code("src/pug/layouts/")
							span
								| - містить шаблон всіх сторінок
								+code("main.pug")
								| та файли, які можуть бути використані на кожній сторінці (хедер, футер, модальні вікна авторизації, ...).
						li
							+code("src/pug/pages/")
							span
								| - назва папки відповідає сторінці, має основний файл
								+code("index.pug")
								| та секції (блоки) цієї сторінки
								+code("_promo.pug")
								| .
						li
							+code("src/pug/partials/")
							span
								| - папка для розташування глобальних міксинів. Глобальні міксини підключаються в
								+code("src/pug/layouts/main.pug")
								| .
						li
							+code("src/pug/templates/")
							span
								| - папка для розміщення шаблонного коду (хлібні крихти, пагінація, ...).
						li
							+code("src/pug/gulp-pages/")
							span
								| - звідси таск-менеджер візьме pug-файл та скомпілює html-файл з відповідною назвою. Всі сторінки крім
								+code("index.pug")
								| просто підключають основний файл відповідної сторінки з
								+code("src/pug/pages/")
								| .

				//- SASS
				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Структура - SASS")
					ul(class="mt-2 flex list-disc flex-col gap-2 pl-6")
						li
							+code("src/sass/base/")
							span
								| - набір загальних стилів.
						li
							+code("src/sass/pages/")
							span
								| - назва папки відповідає сторінці. Містить в собі стилі для секцій (блоків) відповідної сторінки.
						li
							+code("src/sass/partials/")
							span
								| - стилі глобальних міксинів та шаблонів.
						li
							+code("src/sass/tailwind/")
							span
								| - базовий tailwind-файл.
						li
							+code("src/sass/")
							span
								| - з кореня папки таск-менеджер візьме sass-файл та скомпілює css-файл з відповідною назвою.

				//- IMG
				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Структура - IMG")
					ul(class="mt-2 flex list-disc flex-col gap-2 pl-6")
						li
							+code("src/img/content/")
							span
								| - контенті зображення (зображення товару, зображення для блогу, баннер, ...)
						li
							+code("src/img/favicon/")
							span
								| - фавікон та маніфест-файл
						li
							+code("src/img/icons/")
							span
								| - інтерфейсні іконки (стрілка, пошук, чекбокс, ..)
						li
							+code("src/img/icons-content/")
							span
								| - контентні іконки (логотипи, декоративні елементи, ..)

				//- FAQ
				div(class="mt-8 flex flex-col gap-2")
					+inner-title("Запитання і відповіді")
					div(class="mt-2 flex flex-col gap-4 lg:px-4")
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Чому автоматично ніяк не обробляється (стискається) растрова графіка?
							dd
								| Особисто мені цей функціонал не потрібен. Як контентні зображення я використовую
								|
								+link("https://picsum.photos/", "плейсхоледери")
								| , а декоративні елементи якщо вони растрові - обробляю в ручному режимі.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Чому автоматично ніяк не обробляється (стискається) векторна графіка?
							dd
								| Тому що постійно доводиться змінювати правила обробки від проєкту до проєкту. Якість векторної графіки в дизайні буває різною, SVG може містити в собі то растрову графіку, то скрипти, то прозорість замість кольору. Це не дуже зручно, тож прийнято рішення обробляти в ручному режимі.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Чому не використовується svg-спрайт?
							dd
								| Тому що з цим зручно працювати лише на етапі верстки. На етапі підтримки та розвитку проєкту коли все змінюється - важко тримати його в актуальному стані.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| В sass-файлах можна знайти
								+code("_HOTFIX.sass")
								| . Що це?
							dd
								| Цей файл створено для бекенд-розробників на той випадок, коли треба терміново щось пофіксити, але немає часу розбиратись (або він не дуже в верстку). Вони пишуть туди будь-який "брудний" код, потім я його переробляю і переношу куди потрібно.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Навіщо в файлі
								+code("src/pug/layouts/main.pug")
								| є змінна
								+code("var version = '?v=1'")
							dd
								| Ця змінна використовується для тих випадків, коли треба оновити файли верстки на хостингу з кешуванням. Зміна версії призведе до сприйняття файлу сервером як нового.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Навіщо створювати окремі css-файли під кожну сторінку?
							dd
								| Це зручно з точки зору оптимізації та підтримки великих проєктів.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Якщо файл
								+code("all-pages.css")
								| використовується на всіх сторінках - чому він підключається на конкретній сторінці перед іншими css-файлами а не в
								+code("src/pug/layouts/main.pug")
								| ?
							dd
								| Тому що на конкретній сторінці можуть підключатися сторонні бібліотеки. У випадку коли нам потрібно кастомізувати цю бібліотеку перезаписом стилів в
								+code("all-pages.css")
								| порядок підключення файлів може мати значення.
						dl(class="flex flex-col gap-2 border-b border-gray-100 pb-2")
							dt(class="text-xl font-bold")
								| Навіщо помаранчевий блок з посиланнями що відкривають модальні вікна?
							dd
								| Для бекенд-розробників, щоб завжди було очевидно що є прихованним на цій конкретній сторінці.
