div(class="flex flex-col gap-5 px-5 py-10")
	h2(class="text-2xl font-bold text-black")
		| Selects
	div(class="grid grid-cols-3 gap-4")
		//- prettier-ignore
		+input-select({
			wrapperClass: "",
			class: "",
			wrapperId: "wrapper-select-sort",
			id: "select-sort",
			name: "select-sort",
			placeholder: "Sorting",
			notice: "",
			items: [
				{
					value: 1,
					text: "A-Z"
				},
				{
					value: 2,
					text: "Z-A"
				},
			]
		})
		//- prettier-ignore
		+input-select({
			wrapperClass: "",
			class: "",
			wrapperId: "wrapper-select-sort-2",
			id: "select-sort-2",
			name: "select-sort-2",
			placeholder: "",
			notice: "Select sorting",
			items: [
				{
					value: 3,
					text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus adipisci velit eaque pariatur officiis animi quod corporis commodi veniam porro?"
				},
				{
					value: 1,
					text: "A-Z"
				},
				{
					value: 2,
					text: "Z-A"
				},
			]
		})
		//- prettier-ignore
		+input-select({
			wrapperClass: "disabled",
			class: "",
			wrapperId: "wrapper-select-sort-3",
			id: "select-sort-3",
			name: "select-sort-3",
			placeholder: "Sorting",
			notice: "",
			items: [
				{
					value: 1,
					text: "A-Z"
				},
				{
					value: 2,
					text: "Z-A"
				},
			]
		})
